<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <a class="navlink" href="#Leaderboard" aria-expanded="false"><i class="fa fa-home"></i> Leaderboard</a>
        <a class="navlink" href="#world-map" aria-expanded="false"><i class="fa fa-users"></i> World Map</a>
        <a class="navlink" href="#Languages" aria-expanded="false"><i class="fa fa-users"></i> Languages</a>
        <a class="navlink" href="#Packages" aria-expanded="false"><i class="fa fa-users"></i> Packages</a>
        <a class="navlink" href="#Translations" aria-expanded="false"><i class="fa fa-users"></i> Translations</a>
        <a class="navlink" href="#Information" aria-expanded="false"><i class="fa fa-users"></i> Information</a>
    </div>
</body>

</html>